.text-blinking {
  margin-left: 6px;
  font-weight: bolder;
  animation: blinking 0.5s alternate infinite;
}

.coffe-anim {
  animation: coffee 2s alternate infinite;
}

.skills-stack-icons {
  max-width: 50px;
  max-height: 50px;
  border-radius: 0.375rem;
}

@keyframes blinking {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes coffee {
  0% {
    transform: rotate(40deg) scale(1.15);
  }

  30%,
  100% {
    transform: rotate(0);
  }
}

@media print {
  .subtitle {
    font-size: 1.125rem !important;
  }

  .main-grid {
    border-radius: 0 !important;
    grid-template-columns: 0.5fr 1fr !important;
  }

  .download-pdf-btn {
    display: none !important;
  }

  .skills-grid {
    grid-template-columns: repeat(7, max-content) !important;
  }
}
